[submodule "Tweaks/Alderis"]
	path = Tweaks/Alderis
	url = https://github.com/hbang/Alderis
[submodule "Tweaks/DontEatMyContent"]
	path = Tweaks/DontEatMyContent
	url = https://github.com/therealFoxster/DontEatMyContent
[submodule "Tweaks/FLEXing"]
	path = Tweaks/FLEXing
	url = https://github.com/PoomSmart/FLEXing
[submodule "Tweaks/PSHeader"]
	path = Tweaks/PSHeader
	url = https://github.com/PoomSmart/PSHeader
[submodule "Tweaks/Return-YouTube-Dislikes"]
	path = Tweaks/Return-YouTube-Dislikes
	url = https://github.com/PoomSmart/Return-YouTube-Dislikes
[submodule "Tweaks/YTABConfig"]
	path = Tweaks/YTABConfig
	url = https://github.com/PoomSmart/YTABConfig
[submodule "Tweaks/YTHeaders"]
	path = Tweaks/YTHeaders
	url = https://github.com/therealFoxster/YTHeaders
[submodule "Tweaks/YTLite"]
	path = Tweaks/YTLite
[submodule "Tweaks/YTUHD"]
	path = Tweaks/YTUHD
	url = https://github.com/splaser/YTUHD
[submodule "Tweaks/YTVideoOverlay"]
	path = Tweaks/YTVideoOverlay
	url = https://github.com/PoomSmart/YTVideoOverlay
[submodule "Tweaks/YouGroupSettings"]
	path = Tweaks/YouGroupSettings
	url = https://github.com/PoomSmart/YouGroupSettings
[submodule "Tweaks/YouPiP"]
	path = Tweaks/YouPiP
	url = https://github.com/PoomSmart/YouPiP
[submodule "Tweaks/YouTimeStamp"]
	path = Tweaks/YouTimeStamp
	url = https://github.com/aricloverALT/YouTimeStamp
[submodule "Tweaks/YouTubeHeader"]
	path = Tweaks/YouTubeHeader
	url = https://github.com/PoomSmart/YouTubeHeader
[submodule "Tweaks/protobuf"]
	path = Tweaks/protobuf
	url = https://github.com/protocolbuffers/protobuf
